# OS specific annoyances
.DS_Files
.DS_Store
.aws-creds
bin/*
.vscode/*
.qodo/*

# Tool output
dump.rdb
.yardoc/*
*.tfstate*
.terraform
node_modules/*

# Environment specific files
.envrc
.envrc.*

# Editor / IDE specific files
.idea/*
.project
.buildpath
.settings/*
.rakeTasks
*~
**/*~

# Build system specific files
target/*

# Local test scripts
/t.rb
duplo.log

environment.ts
