# OS specific annoyances
.DS_Files
.DS_Store

# Environment specific files
.envrc

# Editor / IDE specific files
.idea/*
.project
.buildpath
.settings/*
*~
**/*~

# Build system specific files
target/*
