[user]
    name = Joe Khoobyar
    email = fourheads@gmail.com
    signingkey = 95F9BAF236AF4A4A7CACB9C59DA3226DFE9A0729

[core]
    excludesfile = ~/.gitignore
[alias]
	contributors = shortlog --summary --numbered
	a = add
	co = checkout
    br = branch
    ci = commit
    st = status
    pl = pull
    pu = push
    l = log
    sl = log --show-signature
    l1 = log -n 1
    sl1 = log -n 1 --show-signature
    cip = "!f() { \
      git commit \"$@\" && \
      git push ; \
    }; f"
    copr = "!f() { \
      declare PR=\"$1\"; \
      [ -z \"$PR\" ] && echo 'usage: git copr PR' 1>&2 && return 1 ; \
      git fetch --all > /dev/null && \
      git fetch rean pull/$PR/head:pr-$PR && \
      git checkout pr-$PR; \
  }; f"
[commit]
	gpgsign = true
[pull]
	rebase = false
