[user]
    name = Joe Khoobyar
    email = fourheads@gmail.com
    signingkey = 95F9BAF236AF4A4A7CACB9C59DA3226DFE9A0729

[core]
    excludesfile = ~/.gitignore
[alias]
	contributors = shortlog --summary --numbered
	a = add
	co = checkout
    br = branch
    ci = commit
    st = status
    pl = pull
    pu = push
    l = log
    sl = log --show-signature
    l1 = log -n 1
    sl1 = log -n 1 --show-signature
    cip = "!f() { \
      git commit \"$@\" && \
      git push ; \
    }; f"
    cpmerge = "!f() { \
      declare DEST=\"$(git rev-parse --abbrev-ref HEAD)\"; \
      declare SRC=\"$1\"; shift ; \
      [ -z \"$SRC\" ] && echo 'usage: git merge SRC ...' 1>&2 && return 1 ; \
      git checkout \"$SRC\" && \
      git pull && \
      git checkout \"$DEST\" && \
      git merge \"$SRC\" \"$@\"; \
    }; f"
[commit]
	gpgsign = true
[pull]
	rebase = false
[diff "sopsdiffer"]
	textconv = sops -d
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[safe]
	directory = *
[push]
	autoSetupRemote = true
[init]
	defaultBranch = main
